.header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: top 0.3s, background-color 0.3s;
  z-index: 9;
}
.user-logged-in .header {
  z-index: 0;
}
.header.scrolling-up {
  background-color: #001253;
}
.header .navbar {
  padding: 12px 0;
  .dropdown:hover {
    .dropdown-menu {
      display: block;
      left: 0;
      right: 0;
      .dropdown-item {
        a {
          color: #131212;
          text-decoration: none !important;
          display: block;
        }
      }
    }
  }
}
.header ul {
  gap: 24px;
}
.header .nav-link {
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  color: #fff;
}
.header:hover .nav-link {
  color: #fff;
}
nav#navbar-top {
  background: #fcc804 !important;
}
@media screen and (max-width: 991px) {
  .navbar-collapse {
    display: none;
  }
  .show-navbar {
    display: block !important;
  }
  .header:has(.show-navbar) {
    background: #001253;
  }
}
@media screen and (max-width: 767px) {
  nav#navbar-top {
    justify-content: center;
  }
}
