.header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: top 0.3s, background-color 0.3s;
  z-index: 9;
}
.user-logged-in .header {
  z-index: 0;
}
.header.scrolling-up,
.community-header {
  background-color: #001253;
}
.header .navbar {
  padding: 12px 0;
  .dropdown {
    color: #fff;
    &:after {
      display: inline-block;
      margin-left: 0.255em;
      vertical-align: 0.255em;
      content: "";
      border-top: 0.3em solid;
      border-right: 0.3em solid transparent;
      border-bottom: 0;
      border-left: 0.3em solid transparent;
      position: absolute;
      right: -5px;
      top: 18px;
    }
    a {
      display: inline-block;
      &:after {
        display: none;
      }
    }
    &:hover {
      .dropdown-menu {
        display: block;
        left: 0;
        right: 0;
        .dropdown-item {
          a {
            color: #131212;
            text-decoration: none !important;
            display: block;
          }
        }
        .dropdown-item.active {
          background: #1c66a6;
          a {
            color: #fff;
          }
        }
      }
    }
  }
}
.header ul {
  gap: 24px;
}
.header .nav-link {
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  color: #fff;
}
.header:hover .nav-link {
  color: #fff;
}
nav#navbar-top {
  background: #008bb3 !important;
  color: #fff;
}
@media screen and (max-width: 991px) {
  .navbar-collapse {
    display: none;
  }
  .show-navbar {
    display: block !important;
  }
  .header:has(.show-navbar) {
    background: #001253;
  }
  .header .navbar {
    .dropdown {
      &:after {
        right: 22px;
      }
      .dropdown-menu {
        background: #001253;
        .dropdown-item {
          a {
            color: #fff !important;
          }
        }
        .dropdown-item.active {
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  nav#navbar-top {
    justify-content: center;
  }
}
