<div class="upcoming-sidebar">
	<h3>
		{{label}}
	</h3>
	<div class="upcomings-meetings-list">
		{{content.field_upcoming_meetings_view}}
	</div>
	<div class="upcoming-meetings-link">
		<a href="{{content.field_link_1['#items'].uri}}">
			{{content.field_link_1['#items'].title}}
		</a>
	</div>
</div>
