.faq-block {
  padding: 80px 0;
  .row {
    gap: 32px;
  }
  .heading {
    h1 {
      color: #131212;
      text-align: center;
      margin: 0;
    }
  }
  .faq-content {
    padding: 12px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 6px 20px 0px #00000026;
    background: #fff;
    border-radius: 12px;
    gap: 24px;
    .faq-question {
      h3 {
        margin: 0;
        color: #1c66a6;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-decoration: none !important;
        gap: 24px;
        &::after {
          content: "";
          background-image: url(/themes/custom/maam/images/faq-icon.svg);
          width: 64px;
          height: 64px;
          display: inline-block;
          transform: rotate(180deg);
          flex-shrink: 0;
        }
      }
    }
    .faq-question-show {
      h3 {
        color: #131212;
        &::after {
          transform: rotate(0deg);
        }
      }
    }
    .faq-answer {
      display: none;
      p {
        color: #131212;
      }
    }

    .faq-show {
      display: block;
    }
  }
  .faq-content:has(.faq-question-show) {
    box-shadow: none;
  }
}
@media screen and (max-width: 991px) {
  .faq-block {
    padding: 64px 0;

    .faq-wrapper {
      .row {
        gap: 16px;
      }
    }
    .faq-content {
      padding: 12px;
      gap: 16px;
      .faq-question {
        h3 {
          gap: 12px;
        }
      }
    }
  }
}
