.banner {
  padding-top: 140px;
  padding-bottom: 230px;
  position: relative;
  .row {
    align-items: center;
  }
  .banner-bg-img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 640px;
    z-index: -1;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .banner-content {
    h1 {
      font-family: Archivo;
      font-size: clamp(45px, 5vw, 76px);
      font-weight: 700;
      line-height: 1.2;
      color: #fff;
      margin: 0;
    }
  }
  .custom-banner-content {
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 12px;
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    img {
      width: 100%;
    }
    .banner-detail {
      display: flex;
      padding: 0px 40px 40px 40px;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      align-self: stretch;
      .date-content {
        font-family: Archivo;
        font-size: 18px;
        font-weight: 800;
        line-height: 24px;
      }
      .description {
        font-family: Archivo;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        margin: 0;
      }
      a {
        font-size: 18px;
        font-style: italic;
        font-weight: 700;
        line-height: 24px;
        text-decoration-line: underline;
        color: #1c66a6;
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .banner {
    padding-top: 120px;
    padding-bottom: 24px;
    .row {
      row-gap: 130px;
    }
    .banner-bg-img {
      height: 500px;
    }
    .banner-content {
      h1 {
        font-size: clamp(42px, 10vw, 70px);
      }
    }
    .custom-banner-content {
      .banner-detail {
        padding: 0px 24px 24px 24px;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .banner {
    .banner-bg-img {
      height: 400px;
    }
  }
}
@media screen and (max-width: 389px) {
  .banner {
    .banner-bg-img {
      height: 456px;
    }
  }
}
