.map-block {
  position: relative;
  .map-bg-content {
    .field__label {
      display: none;
    }
  }
  .container {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .map-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    background: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.15);
    h2 {
      color: #131212;
      margin: 0;
    }
    p {
      color: #131212;
      font-family: Archivo;
      font-size: 18px;
      font-weight: 400;
      line-height: 28px;
      margin: 0;
    }
    .map-link {
      a {
        border-radius: 4px;
        background: #1c66a6;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
        color: #fff;
        font-family: Archivo;
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0.64px;
        padding: 12px 24px;
        text-decoration: none !important;
        display: inline-block;
        &:hover {
          background: #008bb3;
        }
      }
    }
  }
}
.custom-map-width {
  margin-top: 80px;
  .map-bg-content {
    margin: auto;
  }
}
@media (max-width: 576px) {
  .custom-map-width {
    .map-bg-content {
      margin: unset;
      padding: 20px 12px;
    }
  }
}
@media (min-width: 768px) {
  .custom-map-width {
    .map-bg-content {
      max-width: 696px;
    }
    .container {
      max-width: 600px;
    }
  }
}
@media (min-width: 992px) {
  .custom-map-width {
    .map-bg-content {
      max-width: 936px;
    }
    .container {
      max-width: 720px;
    }
  }
}
@media (min-width: 1200px) {
  .custom-map-width {
    .map-bg-content {
      max-width: 1116px;
    }
    .container {
      max-width: 860px;
    }
  }
}
@media (min-width: 1400px) {
  .custom-map-width {
    .map-bg-content {
      max-width: 1296px;
    }
    .container {
      max-width: 1000px;
    }
  }
}

@media screen and (max-width: 991px) {
  .map-block {
    .container {
    }
    .map-content {
      gap: 32px;
    }
  }
}
@media screen and (max-width: 767px) {
  .map-block {
    display: flex;
    flex-direction: column-reverse;
    .map-bg-content {
      .styled_map {
        height: auto !important;
        aspect-ratio: 1.5;
      }
    }
    .container {
      position: static;
      transform: translateY(0);
    }
    .map-content {
      padding: 64px 12px 24px 12px;
      border-radius: 0;
      box-shadow: none;
    }
  }
}
