.past-meetings-block {
  display: flex;
  gap: 8px;
  flex-direction: column;
  h3 {
    color: #131212;
    font-family: Archivo;
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    margin: 0;
  }
  .past-meetings-wrapper {
    .view-upcoming-meetings {
      display: flex;
      gap: 8px;
      flex-direction: column;
    }
    .view-filters {
      padding: 8px 0;
      .fieldgroup {
        width: 60%;
        margin-bottom: 0 !important;
        display: flex;
        align-items: center;
        legend {
          display: none;
        }
        .form-checkboxes {
          display: flex;
          gap: 24px;
          .form-check {
            display: inline-block;
            margin-bottom: 0 !important;
            .form-check-label {
              font-family: Archivo;
              font-size: 16px;
              font-weight: 400;
              line-height: 24px;
            }
          }
        }
      }
      .form-type-textfield {
        width: 40%;
        margin-bottom: 0 !important;
        input {
          background: #fff;
          box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.15);
          border-radius: 6px;
          border: none;
          padding: 14px;
        }
      }
    }
    .view-content {
      gap: 8px;
    }
  }
  .past-meetings-content {
    background: #fff;
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    display: flex;
    padding-right: 16px;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    transition: all 0.3s;
    .date-title-wrapper {
      display: flex;
      gap: 24px;
      align-items: center;
      flex: 2;
    }
    .date-content {
      display: flex;
      gap: 24px;
      align-items: center;
      font-family: Archivo;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      white-space: nowrap;
      .date-icon {
        width: 56px;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #1c66a6;
        border-radius: 6px 0 0 6px;
        &::before {
          content: "";
          background-image: url(/themes/custom/maam/images/calendar-white.svg);
          background-repeat: no-repeat;
          background-size: cover;
          display: inline-block;
          width: 19px;
          height: 22px;
        }
      }
    }
    .title {
      color: #131212;
      font-family: Archivo;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
    }
    .files-main-wrapper {
      display: flex;
      gap: 12px;
      justify-content: flex-end;
      flex: 1;
      .files-wrapper {
        display: flex;
        gap: 12px;
        .file {
          padding: 0;
          a {
            color: #1c66a6;
            font-family: Archivo;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            text-decoration-line: underline;
            display: flex;
            align-items: center;
            gap: 8px;
            &::before {
              content: "";
              background-image: url(/themes/custom/maam/images/file-pdf.svg);
              background-repeat: no-repeat;
              display: inline-block;
              width: 12px;
              height: 16px;
            }
          }
        }
      }
      .recording {
        a {
          color: #1c66a6;
          font-family: Archivo;
          font-size: 16px;
          font-weight: 400;
          line-height: 20px;
          text-decoration-line: underline;
          display: flex;
          align-items: center;
          gap: 8px;
          &::before {
            content: "";
            background-image: url(/themes/custom/maam/images/play-circle.svg);
            background-repeat: no-repeat;
            display: inline-block;
            width: 16px;
            height: 16px;
          }
        }
      }
    }
    &:hover {
      transform: scale(1.005);
    }
  }
}
@media screen and (max-width: 991px) {
  .past-meetings-block {
    h3 {
      font-size: 21px;
      line-height: 25px;
    }
    .past-meetings-wrapper {
      .view-upcoming-meetings {
        display: flex;
        gap: 8px;
        flex-direction: column;
      }
      .view-filters {
        padding: 8px 0;
        .fieldgroup {
          width: 60%;
          margin-bottom: 0 !important;
          display: flex;
          align-items: center;
          .form-checkboxes {
            gap: 8px;
            .form-check {
              display: inline-block;
              margin-bottom: 0 !important;
            }
          }
        }
        .form-type-textfield {
          width: 40%;
          margin-bottom: 0 !important;
        }
      }
      .view-content {
        gap: 8px;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .past-meetings-block {
    .past-meetings-wrapper {
      .view-filters {
        .fieldgroup {
          width: 100%;
          margin-bottom: 8px !important;
          .form-checkboxes {
            gap: 8px;
            flex-wrap: wrap;
            .form-check {
              display: block;
              width: 100%;
            }
          }
        }
        .form-type-textfield {
          width: 100%;
        }
      }
    }
    .past-meetings-content {
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
      .date-title-wrapper {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
      }
      .date-content {
        gap: 16px;
      }
      .files-main-wrapper {
        flex-direction: column;
        .files-wrapper {
          flex-direction: column;
        }
      }
    }
  }
}
