.resources-listing-block {
  .resources-row {
    row-gap: 40px;
    margin-bottom: 40px;
    .resources-listing-heading {
      h2 {
        margin-bottom: 24px;
        color: #131212;
      }
      p {
        margin: 0;
      }
    }
    // .resources-listing-content {
    //   background: #fff;
    //   box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.15);
    //   border-radius: 6px;
    //   display: flex;
    //   padding: 16px;
    //   align-items: center;
    //   gap: 24px;
    //   justify-content: space-between;
    //   transition: all 0.3s;
    //   margin-bottom: 20px;
    //   .file-column {
    //     display: flex;
    //     align-items: center;
    //     gap: 24px;
    //     .file-icon {
    //       img {
    //         width: 21px;
    //         height: 21px;
    //       }
    //     }
    //     .file-name {
    //       font-family: Archivo;
    //     }
    //   }
    //   .date-download-wrapper {
    //     display: flex;
    //     align-items: center;
    //     gap: 24px;
    //     .date-column {
    //       .datetime {
    //         font-family: Archivo;
    //       }
    //     }
    //     .download-column {
    //       img {
    //         width: 20px;
    //         height: 21px;
    //       }
    //     }
    //   }
    //   &:hover {
    //     transform: scale(1.005);
    //   }
    // }
  }
}
.resources-listing-content {
  background: #fff;
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  display: flex;
  padding: 16px;
  align-items: center;
  gap: 24px;
  justify-content: space-between;
  transition: all 0.3s;
  margin-bottom: 20px;
  .file-column {
    display: flex;
    align-items: center;
    gap: 24px;
    .file-icon {
      img {
        width: 21px;
        height: 21px;
      }
    }
    .file-name {
      font-family: Archivo;
    }
  }
  .date-download-wrapper {
    display: flex;
    align-items: center;
    gap: 24px;
    .date-column {
      .datetime {
        font-family: Archivo;
      }
    }
    .download-column {
      img {
        width: 20px;
        height: 21px;
      }
    }
  }
  &:hover {
    transform: scale(1.005);
  }
}
@media screen and (max-width: 991px) {
  .resources-listing-block {
    .resources-row {
      row-gap: 24px;
      margin-bottom: 24px;
    }
  }
}

@media screen and (max-width: 767px) {
  .resources-listing-content {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    .file-column {
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
      .file-name {
        font-family: Archivo;
      }
    }
    .date-download-wrapper {
      justify-content: space-between;
      align-items: center;
      width: 100%;
      .date-column {
        .datetime {
          font-family: Archivo;
        }
      }
    }
  }
}
