#weather-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
  p {
    margin: 0;
    color: #131212;
  }
}
.date-container {
  margin: 0;
  color: #131212;
  font-family: Archivo;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
@media screen and (max-width: 767px) {
  .form-inline.navbar-form:has(#weather-content) {
    margin-right: auto;
  }
  #weather-content {
    gap: 10px;
    p {
      font-size: 12px;
      line-height: 20px;
    }
  }
}
